body{font-family:'Courier New', Courier, monospace;
    font-size:15px;
    font-variant: normal;
    font-style:normal;
}

.navigasi{
    background-color:rgb(17, 203, 17);
    font-style:normal;
    color:black;
    text-align:right;
    text-decoration:none;   
}

.table1{
    background-color:azure;
}

.body1{
    font-style:italic;
    line: height 1.6em;
}
footer{
    background-color:black;
    color:white;
    text-align:center;
    font-size:small;
}